<!--Element Reference-->
<p #templateReference>"Template Reference: This 'p' element has 'templateReference' tag."</p>
<p>templateReference = <code>{{ templateReference }}</code></p>
<p>templateReference.innerText = <code>{{ templateReference.innerText }}</code></p>

<!--@ViewChild()-->
<p #viewChildTemplateReference>"@ViewChild(): This 'p' element has 'viewChildTemplateReference' tag and will be assigned to 'viewChildVariable'."</p>
<p>viewChildVariable = <code>{{ viewChildVariable }}</code></p>
<p>viewChildVariable.nativeElement = <code>{{ viewChildVariable.nativeElement }}</code></p>
<p>viewChildVariable.nativeElement.innerText = <code>{{ viewChildVariable.nativeElement.innerText }}</code></p>
