<p>Welcome to <a href="https://primeng.org/" target="_blank">PrimeNG</a> library!</p>
<ul>

  <li>Form
    <ul>
      <li><a [routerLink]="['/calendar']">Calendar</a></li>
      <li><a [routerLink]="['/checkbox']">Checkbox</a></li>
      <li><a [routerLink]="['/dropdown']">Dropdown</a></li>
      <li><a [routerLink]="['/input-text']">InputText</a></li>
      <li><a [routerLink]="['/input-number']">InputNumber</a></li>
    </ul>
  </li>

  <li>Data
    <ul>
      <li><a [routerLink]="['/table']">Table</a></li>
    </ul>
  </li>

  <li>Panel
    <ul>
      <li><a [routerLink]="['/accordion']">Accordion</a></li>
      <li><a [routerLink]="['/card']">Card</a></li>
      <li><a [routerLink]="['/divider']">Divider</a></li>
      <li><a [routerLink]="['/fieldset']">Fieldset</a></li>
      <li><a [routerLink]="['/panel']">Panel</a></li>
      <li><a [routerLink]="['/splitter']">Splitter</a></li>
      <li><a [routerLink]="['/scroll-panel']">ScrollPanel</a></li>
      <li><a [routerLink]="['/tab-view']">TabView</a></li>
    </ul>
  </li>

  <li>Overlay
    <ul>
      <li><a [routerLink]="['/dialog']">Dialog</a></li>
      <li><a [routerLink]="['/overlay-panel']">OverlayPanel</a></li>
      <li><a [routerLink]="['/sidebar']">Sidebar</a></li>
      <li><a [routerLink]="['/tooltip']">Tooltip</a></li>
    </ul>
  </li>

</ul>
