<ul>
  <li><a [routerLink]="['/new']">New Component</a></li>

  <li> Data Binding
    <ul>
      <li>@Input / @Output
        <ul>
          <li><a [routerLink]="['/parent1']">Parent 1</a></li>
          <li><a [routerLink]="['/child1']">Child 1</a></li>
        </ul>
      </li>
      <li> ng-content / @ContentChild
        <ul>
          <li><a [routerLink]="['/parent2']">Parent 2</a></li>
          <li><a [routerLink]="['/child2']">Child 2</a></li>
        </ul>
      </li>
    </ul>
  </li>

  <li> Directives
    <ul>
      <li><a [routerLink]="['/custom-directives']">Custom Directives</a></li>
    </ul>
  </li>

  <li><a [routerLink]="['/services']">Services</a></li>

  <li><a [routerLink]="['/ngrx']">NgRx</a></li>

  <li><a [routerLink]="['/primeng']">PrimeNG Component Library</a></li>
</ul>
