<!--ngIf-->
<button (click)="booleanVariable=true">ngIf: Click to change booleanVariable to True.</button>
<br>
<button (click)="booleanVariable=false">ngIf: Click to change booleanVariable to False.</button>
<p *ngIf="booleanVariable; else templateElement">ngIf: This text is shown only if booleanVariable is True.</p>
<ng-template #templateElement>
  <p>ngIf: This text is shown only if booleanVariable is False.</p>
</ng-template>

<!--ngStyle-->
<p [ngStyle]="{background: 'red', color: 'white'}">ngStyle: Styling in-line using ngStyle.</p>
<p [ngStyle]="newStyle">ngStyle: Styling by inserting the styles through TypeScript variable.</p>

<!--ngClass-->
<p [ngClass]="{'style1': true, 'style2': style2Condition}">ngClass: This text is styled using multiple classes and
  applied through ngClass.</p>

<!--ngFor-->
<p *ngFor="let person of listOfNames; let i = index">{{ i }} : {{ person.name }} is {{ person.age }} years old.</p>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Age</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let person of listOfNames">
    <td>{{ person.name }}</td>
    <td>{{ person.age }}</td>
  </tr>
  </tbody>
</table>
