<!--String Interpolation-->
<p>String Interpolation: My name is {{ myName }}</p>
<p>String Interpolation: Function says {{ HelloWorld() }}</p>

<!--Property Binding-->
<p [innerText]="propertyBindingText"></p>

<!--Event Binding-->
<button (click)="eventBindingFunction()">Event Binding (click) : Click to change the text below using a function.</button>
<br>
<button (click)="eventBindingText='Event Binding (in-line): The button was reset.'">Event Binding : Reset the text below
  using in-line TypeScript code.
</button>
<p>{{ eventBindingText }}</p>

<!--$event-->
<p (click)="dollarEvent($event)">Event Binding ($event) : Click this text to highlight it</p>

<!--[(ngModel)] - Two-Way Binding-->
<p>{{ ngModelText }}</p>
<input [(ngModel)]="ngModelText" type="text" [style]="{width: '80vw'}">
